.Root{
    max-width: 100%;
    overflow: hidden;
    line-height: normal;
}

.ColTitle{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
.Line{
    border-bottom: solid 1px black;
    width: 2em;
    padding: 0.5rem;
    display: inline-block;
}
